@media (max-width: 1890px ){
    .services__name{
        font-size: 25px;
    }
    .header__content{
        padding-bottom: 150px;
    }
}
@media (max-width: 1650px ){
    .menu__link{
        font-size: 22px;
    }
    .services__name{
        font-size: 22px;
    }
    .serveces__description{
        font-size: 13px;
    }
}
@media (max-width: 1500px ){
    .headder__top{
        padding-bottom: 270px;
    }
    .services__content {
        height: 210px;
        font-size: 12px;
    }
    .services__name {
        padding-top: 27px;
        font-size: 21px;
    }
    .portfolio__white-section {
        height: 540px;
    }
    .portfolio__text-right-1{
        padding-top: 140px;
        font-size: 18px;
    }
    .portfolio__text-left-2 {
        font-size: 18px;
        padding: 120px 2px 0 30px;
    }
    .portfolio__text-right-3 {
        font-size: 18px;
        padding-top: 90px;
    }
    .portfolio__black-section {
        height: 610px;
    }
    .portfolio__text-left-4 {
        font-size: 18px;
        padding-top: 117px;
    }
}
@media (max-width: 1440px ){
    .header__content {
        padding-bottom: 150px;
    }
}
@media (max-width: 1366px ){
    .menu__link{
        font-size: 20px;
    }
    .header__title{
        font-size: 45px;
    }
    .header__descr{
        font-size: 22px;
    }
    .header__btn{
        padding: 16px 57px;
    }
    .services__name {
        padding: 20px 7px 20px 20px;
    }
    .serveces__description {
        padding: 0px 14px 0 18px;
    }
    .about-us__title{
        font-size: 45px;
    }
    .preview__inner{
        min-height: 500px;
    }
    .previw__number{
        font-size: 95px;
    }
    .previw__text{
        font-size: 19px;
    }
    .previw__title {
        font-size: 45px;
        margin-top: 25px;
        margin-bottom: 70px;
    }
    .portfolio__title{
        font-size: 45px;
    }
    .portfolio__text-left-2{
        padding-top: 60px;
    }
    .portfolio__black-section {
        height: 580px;
    }
    .portfolio__text-right-3 {
        padding-top: 50px;
    }
    .portfolio__text-left-4 {
        padding-top: 70PX;
    }
    .contacts__title {
        font-size: 50px;
        margin-bottom: 84px;
    }
    .contacts {
        padding-top: 50px;
    }
    .contact__botton {
        width: 500px;
        height: 60px;
        font-size: 23px;
    }
    .contacts__get-a-uote {
        padding: 60px 0 125px;
    }
    .contact__form {
        height: 120px;
    }
    .contacts__input {
        border: 0 solid;
        font-size: 23px;
        padding-left: 75px;
    }
    .footer__logo-img {
        width: 220px;
        padding-top: 80px;
    }
    .footer__contacts p {
        font-size: 19px;
    }
    .footer__contacts {
        padding-top: 96px;
    }
}
@media (max-width: 1280px ){
    .services__name {
        padding: 10px 0px 30px 10px;
    }
    .header__title {
        font-size: 40px;
    }
    .header__descr {
        font-size: 18px;
    }
    .about-us__title {
        font-size: 35px;
    }
    .about-us__section-name {
        font-size: 25px;
    }
    .about-us__description {
        font-size: 17px;
    }
    .about-us__inner {
        min-height: 86vh;
    }
    .previw__text {
        font-weight: 600;
        font-size: 18px;;
    }
    .previw__number {
        font-size: 85px;
    }
    .preview__inner {
        min-height: 470px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .portfolio__white-section {
        height: 490px;
    }
    .portfolio__text-right-1 {
        padding: 100px 20px 0 45px; 
    }
    .portfolio__black-section {
        height: 535px;
    }
    .portfolio__text-left-2 {
        padding: 15px 00px 0 42px;
    }
    .portfolio__text-right-3{
        padding: 15px 20px 0 45px;
    }
    .portfolio__text-left-4{
        padding: 38px 20px 0 45px;
    }
}
@media (max-width: 1246px ){
    #services__name{
        padding-bottom: 0px;
    }
    #serveces__description{
        margin-top: 8px;
    }
    .serveces__description{
        padding-left: 10px;
    }
    .services__content {
        height: 190px;
    }
    .portfolio__text-left-2{
        font-size: 17px;
        line-height: 180%;
        padding-top: 58px;
    }
    .portfolio__text-right-1{
        font-size: 17px;
        line-height: 180%;
        padding-top: 105px;
    }
    .portfolio__text-right-3{
        font-size: 17px;
        line-height: 180%;
        padding-top: 36px;
    }
}
@media (max-width: 1024px ){
    #services__name{
        padding-bottom: 0px;
    }
    #serveces__description{
        margin-top: 8px;
    }
    .serveces__description{
        padding-left: 10px;
    }
    .services__content {
        height: 190px;
    }
    .previw__number{
        display: block;
    }
    .previw__counter {
        display: flex;
        justify-content: space-evenly;
    }
    .previw__title{
        margin-top: 50px;
        font-size: 35px;
    }
    .portfolio__title{
        font-size: 35px;
    }
    .portfolio__white-section {
        height: 400px;
    }
    .portfolio__text-right-1{
        padding-top: 110px;
        line-height: 120%;
        font-size: 16px;
    }
    .portfolio__black-section{
        height: 400px;
    }
    .portfolio__text-left-2{
        padding-top: 44px;
        line-height: 120%;
        font-size: 16px;
    }
    .portfolio__text-right-3{
        padding-top: 52px;
        line-height: 120%;
        font-size: 16px;
    }
    .portfolio__text-left-4{
        padding-top: 52px;
        line-height: 120%;
        font-size: 16px;
    }
    .contacts__title{
        font-size: 35px;
        margin-bottom: 71px;
    }
    .contacts__input{
        font-size: 20px;
    }
    .contact__botton{
        width: 250px;
    }
    .footer__logo-img{
        width: 150px;
        padding-top: 48px;
    }
    .footer__contacts p{
        font-size: 17px;
        padding-top: 0;
    }
    .footer__polit{
        font-size: 15px;
        padding-top: 67px;
    }
    .footer__contacts{
        padding-top: 35px;
    }
    .footer__inner{
        height: 175px;
    }
}
@media (max-width: 940px ){
    #services__name-2{
        padding-bottom: 0;
    }
    #serveces__description-2{
        margin-top: 8px;
    }
    .portfolio__text-right-1{
        padding-top: 85px;
    }
    .portfolio__text-left-2{
        padding-top: 20px;
    }
    .portfolio__text-right-3{
        padding-top: 11px;
    }
    .portfolio__text-left-4{
        padding-top: 30px;
    }
}
@media (max-width: 800px ){
    .contacts__input{
        font-size: 14px;
        width: 203px;
        padding-left: 50px;
    }
    .contact__form {
        height: 100px;
    }
    .footer__logo-img {
        width: 130px;
    }
    .footer__contacts {
        padding-top: 44px;
    }
    .footer__contacts p {
        font-size: 10px;
    }
    .footer__polit {
        font-size: 10px;
    }
    .footer__polit {
        padding-top: 65px;
    }
    .contact__botton {
        height: 45px;
        font-size: 20px;
    }
    .contacts__get-a-uote {
        padding: 40px 0 70px;
    }
    .serveces__description {
        padding-left: 25px;
        line-height: 130%;
        margin-top: 22px;
    }
    .services__name {
        font-size: 15px;
        padding: 10px 0px 12px 24px;
        line-height: 20px;
    }
    #services__name-2 {
        padding-bottom: 25px;
    }
    #services__name{
        padding-bottom: 0;
    }
    #serveces__description {
        margin-top: 14px;
    }
    .portfolio__white-section {
        height: 350px;
    }
    .portfolio__text-right-1 {
        padding-top: 82px;
        font-size: 13px;
        padding: 98px 20px 0 40px;
    }
    .portfolio__black-section {
        height: 350px;
    }
    .portfolio__text-left-2{
        font-size: 13px;
        padding-top: 30px;
    }
    .portfolio__text-right-3{
        font-size: 13px;
        padding-top: 22px;
    }
    .portfolio__text-left-4{
        font-size: 13px;
        padding-top: 40px; 
    }
    #serveces__description-2{
        margin-top: 9px;
    }
}
@media (max-width: 768px ){
    .services>.containermax{
        display: flex;
        flex-wrap: wrap;
    }
    .services__content{
        width: 50%;
    }
    .services__name {
        font-size: 22px;
    }
    #serveces__description {
        margin-top: 34px;
    }
    .serveces__description{
        font-size: 16px;
    }
    .container {
        max-width: 748px;
    }
    .portfolio__white-section {
        height: 300px;
    }
    .portfolio__text-right-1 {
        padding: 60px 5px 0 25px;
    }
    .portfolio__black-section {
        height: 320px;
    }
    .portfolio__text-left-2 {
        padding: 13px 0px 0px 25px;
    }
    .portfolio__text-right-3 {
        padding: 20px 0 0 25px;
    }
    .portfolio__text-left-4 {
        padding: 39px 0 0 26px;
    }
    .preview__inner {
        padding-top: 10px;
        min-height: 400px;
    }
    .previw__title {
        margin-bottom: 25px;
    }
}
@media (max-width: 679px){
    .container {
        max-width: 659px;
    }
    #serveces__description {
        margin-top: 14px;
    }
    .about-us__title {
        font-size: 30px;
    }
    .about-us__section-name {
        font-size: 20px;
    }
    .about-us__description {
        font-size: 15px;
    }
    .previw__title {
        font-size: 30px;
        margin-bottom: 5px;
    }
    .previw__number {
        font-size: 65px;
    }
    .previw__text {
        font-size: 15px;
    }
    .preview__inner {
        padding-top: 10px;
        min-height: 335px;
    }
    .portfolio__title {
        font-size: 30px;
    }
    .portfolio__white-section {
        height: 260px;
    }
    .portfolio__text-right-1 {
        padding: 40px 5px 0 25px;
        font-size: 12px;
    }
    .portfolio__black-section {
        height: 290px;
    }
    .portfolio__text-left-2{
        font-size: 12px;
        padding: 10px 0px 0px 16px;
    }
    .portfolio__text-right-3 {
        font-size: 12px;
        padding: 2px 0 0 20px;
    }
    .portfolio__text-left-4{
        font-size: 12px;
        padding: 28px 0 0 26px;
    }
    .menu__list{
        display: none;
    }
    .menu__burg-img{
        display: block;
        padding-right: 32px;
    }
}
@media (max-width: 609px){
    .container {
        max-width: 589px;
    }
    .portfolio__text-right-1 {
        font-size: 10px;
        padding-top: 63px;
    }
    .portfolio__text-left-2 {
        font-size: 11px;
        padding-top: 16px;
    }
    .portfolio__text-right-3 {
        font-size: 11px;
        line-height: 120%;
    }
    .portfolio__text-left-4 {
        font-size: 11px;
        padding: 33px 0 0 26px;
    }
    .portfolio__title{
        margin-top: 30px;
    }
    .contacts__title {
        font-size: 30px;
        margin-bottom: 40px;
    }
    .contacts {
        padding-top: 25px;
    }
    .contact__form{
        flex-direction: column;
        height: 130px;
    }
}
@media (max-width: 567px){
    .portfolio__white-section {
        flex-direction: column;
        margin-bottom: 170px;
        width: 100%;
    }
    .portfolio__text-right-1{
        background: none;
        padding: 6px 15px 0 10px;
        font-size: 11px;
        line-height: 140%;
    }
    .portfolio__img-shadow {
        max-width: 100%;
    }
    .portfolio__black-section {
        flex-direction: column-reverse;
        height: 350px;
        width: 104%;
        margin-left: -10px;
    }
    .portfolio__text-left-2{
        background: none;
        line-height: 140%;
        padding-top: 0px;
        margin-bottom: 13px;
        margin-top: 5px;
    }
    .portfolio__img {
        margin: 0 auto;
    }
    .portfolio__text-right-3 {
        background: none;
        line-height: 140%;
    }
    .portfolio__text-left-4 {
        background: none;
        line-height: 140%;
        padding-top: 0px;
        margin-bottom: 20px;
        margin-top: 9px;
    }
    .contact__form {
        height: 170px;
    }
}
@media (max-width: 430px){
    .services__content {
        width: 100%;
    }
    .headder__top {
        padding-bottom: 160px;
    }
    .header__title {
        font-size: 30px;
    }
    .header__descr {
        font-size: 14px;
    }
    .header__btn {
        padding: 11px 16px;
    }
    .header__content {
        padding-bottom: 60px;
    }
    .services__name {
        font-size: 30px;
        padding: 13px 0px 12px 24px;
        line-height: 110%;
    }
    .serveces__description {
        line-height: 180%;
    }
    .previw__title {
        font-size: 26px;
        margin-bottom: 10px;
    }
    .previw__number {
        font-size: 45px;
    }
    .preview__inner {
        min-height: 310px;
    }
    .portfolio__text-right-1{
        font-size: 14px;
    }
    .portfolio__text-left-2 {
        font-size: 14px;
    }
    .portfolio__img{
        max-width: 100%;
    }
    .portfolio__black-section {
        height: 452px;
        width: 100%;
        margin-left: 0px;
    }
    .portfolio__text-right-3 {
        font-size: 14px;
    }
    .portfolio__text-left-4 {
    font-size: 14px;
    }
    .sortfolio__section-4{
        height: 424px;
    }
    .sortfolio__section-4{
        
    }
    .portfolio__text-left-4{
        padding: 0 0 0 17px;
    }
    .contacts__title {
        line-height: 130%;
        font-size: 25px;
        margin-bottom: 30px;
    }
    .footer__logo-img {
        width: 100px;
    }
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__polit {
        padding-top: 10px;
    }
    .footer__contacts {
        padding-top: 32px;
    }
}
@media (max-width: 414px){
    .portfolio__img {
        max-width: 100%;
    }
    .portfolio__black-section {
        box-shadow: 0.4em 0.4em 10px rgb(122 122 122 / 50%);
        flex-direction: column-reverse;
        height: 350px;
        width: 100%;
        margin-left: 0px;
        height: 383px;
    }
    .portfolio__white-section{
        margin-bottom: 80px;
    }
    .section-3{
        margin-bottom: 120px;
    }
    .logo>img{
        width: 100px;
        padding-left: 10px;
    }
    .portfolio__text-right-1{
        font-size: 12px;
        padding: 6px 5px 0 4px;
    }
    .portfolio__text-left-2 {
        font-size: 12px;
    }
    .portfolio__text-right-3 {
        font-size: 12px;
        padding: 2px 0 0 0px;
    }
    .portfolio__text-left-4 {
        font-size: 12px;
        padding: 0 9px 0 14px;
    }
    .sortfolio__section-4{
        height: 373px;
    }
    .previw__title {
        margin-top: 20px;
    }
    .preview__inner {
        min-height: 290px;
        padding-left: 0px;
    }
}
@media (max-width: 375px){
    .portfolio__img {
        max-width: 100%;
    }
    .portfolio__black-section {
        box-shadow: 0.4em 0.4em 10px rgb(122 122 122 / 50%);
        flex-direction: column-reverse;
        height: 350px;
        width: 100%;
        margin-left: 0px;
        height: 391px;
    }
    .portfolio__white-section{
        margin-bottom: 80px;
    }
    .section-3{
        margin-bottom: 120px;
    }
    .logo>img{
        width: 100px;
        padding-left: 10px;
    }
    .portfolio__text-right-1{
        font-size: 12px;
        padding: 6px 5px 0 4px;
    }
    .portfolio__text-left-2 {
        font-size: 12px;
    }
    .portfolio__text-right-3 {
        font-size: 12px;
        padding: 2px 0 0 0px;
    }
    .portfolio__text-left-4 {
        font-size: 12px;
        padding: 0 9px 0 14px;
    }
    .sortfolio__section-4{
        height: 373px;
    }
    .previw__title {
        margin-top: 20px;
    }
    .preview__inner {
        min-height: 290px;
        padding-left: 0px;
    }
}
@media (max-width: 326px ){
    .serveces__description {
        line-height: 130%;
    }
}